body{

    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;

}

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;

    background:#6c63ff;

    color:white;

}

.navbar button{

    padding:10px 18px;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

.container{

    width:80%;

    margin:30px auto;

}

.creator-card{

    background:white;

    border-radius:12px;

    padding:20px;

    margin-bottom:20px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.left{

    display:flex;

    align-items:center;

    gap:15px;

}

.left img{

    width:70px;

    height:70px;

    border-radius:50%;

    object-fit:cover;

}

.rank{

    font-size:28px;

    font-weight:bold;

    color:#ff9800;

}